.directory-item-container {
  background: #f0f8ff;
  padding: 1rem;
  border-radius: 12px;
  justify-content: center;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.background-image {
  width: 120px;
  height: 120px;
  object-fit: contain;
}
